<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Api">

    <test name="Api_tests">
        <classes>
            <class name="deleteApiTest"/>
            <class name="getApiTest"/>
            <class name="patchApiTest"/>
            <class name="postApiTest"/>
            <class name="putApiTest"/>
        </classes>
    </test>
</suite>

